.loader-molecule {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .dots {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: orange;
    animation: bounce 1s infinite;
    @keyframes bounce {
      0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
      }
      50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
      }
    }
  }
}